html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: auto;
}

#area_choices {
    margin: 1em;
    padding: 1em;
}

ul,
ol {

    li {
        line-height: 1.8em;
    }
}

#passphrase {
    font-size: 14px;
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

#area_drag {
    height: 250px;
    margin: 1em;
    margin-top: 1em;
    border: 2px dashed red;
    text-align: center;
    padding: 1em;
}

.notice {
    font-style: italic;
}
