.w {

    &-100 {
        width: 100%;
    }
}

.text {

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}

.d--flex {
    display: flex;

    &.items--center {
        align-items: center;
    }
}

.d--none {
    display: none;
}

.m {

    &-r {

        &-1 {
            margin-right: 1em;
        }
    }
}
