name: Continuous Integration (Lint PR Title)

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: kunalnagarco/action-semantic-pr@v1.2.9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
